/*============================================================================
  Clearfix definition - your local instances should extend from here
==============================================================================*/
%clearfix {
 // For modern browsers
  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

  // todo - do we  care about the below?
  // For IE 6/7 (trigger hasLayout)
  & {
    zoom:1;
  }
}

.clearfix, // TODO - convention?
.group {
  @extend %clearfix;
}

*,
input,
input[type="search"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}