.jcdocs-page-width.clearfix
  .pull-left
    %a{:href=>"http://www.jetcooper.com", :target=>"_blank"}
      = image_tag "temp/logo-JC.png", {:alt=>"Jet Cooper Logo"}
    %a{:href=>"#"}
      [#TODO] - Project Logo