---
title: "[#TODO - SITE_NAME] Documentation"
---

%section
  %h1#misc Miscellaneous

  %article
    %h1#progress-bar Progress Bar
    %p
      %strong Found on: 
      %a{:href=>"http://dev.jetcooper.com/348_odobo/templates/5-ollp/5.2-games-listing.html#"} http://dev.jetcooper.com/348_odobo/templates/5-ollp/5.2-games-listing.html
      (hit Update Selected)

    .docs-example-wrapper
      .docs-example
        %progress{:max => "100", :value => "60"}

    %pre.prettyprint.linenums
      = preserve do
        :escaped
          <progress max="100" value="60"></progress>

%section
  %h1 Number Two
