$footer_height: 60px;
$page_width_max: 1080px;
$page_width_min: 880px;

html, body {
  height: 100%;
}

#JCDocsContentWrapper {
  min-height: 100%;
  > .jcdocs-main {
    overflow:auto;
    padding-bottom: $footer_height;
  }  /* must be same height as the footer */
}

#JCDocsFooterWrapper {
  position: relative;
  margin-top: -1 * $footer_height; /* negative value of footer height */
  height: $footer_height;
  clear:both;
} 

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}


#JCDocsDocumentContentContainer {
  @extend %pagewidth;
}


.jcdocs-page-width {
  @extend %pagewidth;
}

%pagewidth {
  margin: 0 auto;
  max-width: $page_width_max;
  min-width: $page_width_min;
  width: 80%;
}